extends layout

block content
  div(class="content")
    h1= title
    p Welcome to #{title}
    p Number of games: #{gameCount}
    p Number of game studios: #{studioCount}
    p Number of platforms: #{platformCount}

