extends layout

block content
  div(class="content")
    h1 Studio: #{studio.name}
    img(src=studio.img_url)
    p Games by this studio: 
      for game in allGamesByStudio
        br
        a(href=game.url) #{game.title} 
    a(href=studio.url+'/delete' role="button" class="btn btn-danger") Delete studio
    a(href=studio.url+'/update' role="button" class="btn btn-info") Update studio
